body{
    
}

.container{
    width: 140em;
    height: 75em;
    margin: 0 auto;
    margin-top: 100px;

    border: solid 1px;
    border-radius: 5px;
    border-color: black;
    position: relative;
}

.container h5{
    text-align: center;
    background-color: #424242;
    margin-top: 0;
    padding-top: 0.7em;
    height: 1.8em;
    color: white;
}

/*Barra superior.*/

/*Barra superior.*/
.barra-superior{
    margin-top: 10px;
     width: 100%;
     height: 120px;
     
     display: flex;
 }
 
 .barra-superior img{
     width: auto;
     height: auto;
     margin-left: 2%;
     margin-top: 5px;
     
 }
 
 .datos-usuario{
     display: grid;
     margin-left: 1em;
     color: #3d8c36;
     font-size: 25px;
 
     margin-top: 25px;
     
 }
 
 /*Barra de cuaderno agricola*/
 .cuadernoAgricola{
     height: 30px;
     background-color: #8a8a8a;
     color: white;
 
     text-align: center;
     margin: auto;
     padding-top: 10px;
     font-size: 20px;
 }
 
 /*Linea superior de separación*/
 /*
 .linea-superior{
     height: 10px;
     width: 100%;
     background-color: #8a8a8a;
     margin-top: 10px;
 }
 */
 
 /*Linea lateral de separación del menu
 .linea-lateral{
     height: 1000px;
     width: 10px;
     background-color: #8a8a8a;
     margin-top: 0px;
 
 }
 */
 
 /*Boton lateral del panel superior.*/
 .barra-superior button{
     
     height: 50%;
     width: 8%;
     margin: auto ;
     margin-left: 80%;
 
 
     background-color: #3d8c36;
     border: none;
     border-radius: 20px;
     color: white;
     
 
 }


/*Barra lateral*/
/*Tamaño de la barra lateral*/
.barra-lateral{
    margin-top: 20px;
    width: 12%;
    height: 30%; 
}


.elige-año{
    
    display: flex;
    margin-left: 0;

    margin: 0; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.años{
    margin-top: 1em;
    width: 5em;
    height: 2.5em;
    
    font-weight: bold;
    border: solid 1px;
    border-color: black;
    text-align: center;
    padding-top: 1.1em;

}

.años:hover{
    background-color: #E0E0E0;
}

#uno{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

#tres{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.informacion-general{
    display: flex;
    margin-left: auto;

    margin: 0 auto; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

#opciones{
    width: 18em;
    height: 3.5em;
    margin-top: 1.5em;
    background-color: white;
    border-radius: 5px; 
    border: 1px solid;
    text-align: start;
  
}


/*Boton exportar*/
.exportar{
    display: flex;
    margin-left: auto;
    margin-top: 20%;
     
    display: flex;
    justify-content: center; 
    align-items: center;
}

.exportar button{
    margin-top: 26em;
    height: 4em;
    font-size: 1em;
    width: 12em;

    background-color: white;

}

/*Panel principal*/

.panel-principal{
    width: 121.8em;
    height: 66.3em;

    position: absolute;
    top: 41.75em; 
    left: 79em; 
    transform: translate(-50%, -50%);
    
}

.panel-principal img{
    width: 95em;
    margin-left: 26.7em;
    margin-top: 1em;
    
}

/*Tabla de datos*/
.panel-principal h2{
    width: 75em;
    height: 1.7em;
    margin: auto;
    margin-top: 2em;
    padding-top: 0.4em;
    text-align: start;
    
}

.panel-principal p{
    margin-left: 4em;
    font-size: 20px;
}
 
#lista1{
    margin-left: 6em;
    margin-top: 2em;
    font-size: 20px;
}

/*Footer*/
.footer{
    margin-left: 76em;
    margin-top: 32em;
}

/*Footer*/
.footer{
    margin-top: 2em;
}

.footer-1{
    display: flex;
    margin-top: 6em;
}

.footer-1 h5{
    background-color: white;
    color: #000;
    margin-top: 1.5%;
    margin-left: 2em;
    font-size: 20px;
}

#primer-input{
    margin-left: 1em;
    height: 2em;
    margin-top: 2em;
    width: 65%;
}

#segundo-input{
    margin-left: 1em;
    height: 2em;
    margin-top: 2em;
    width: 10%;
}

.footer-2 .izquierda{
    display: flex;
    margin-left: -10em;
}

.footer-2 .izquierda{
    display: flex;
    margin-left: -10em;
}

.footer-2 .derecha{
    margin-left: 70%;
    margin-top: -1em;
}

#input-nhoja{
    height: 2em;
}

#input-nseccion{
    height: 2em;

}

/*Input del footer*/

#input-nhoja{
    height: 2em;
}

#input-nseccion{
    height: 2em;

}

.footer p{
    margin-left: 10%;
}